.dropdown
  button.btn.btn-primary.dropdown-toggle(type='button' data-toggle='dropdown')
    | &#xC5B8;&#xC5B4;
  .dropdown-menu
    a.dropdown-item(href='#') &#xD55C;&#xAD6D;&#xC5B4;
    a.dropdown-item(href='#') &#xC601;&#xC5B4;
    a.dropdown-item(href='#') &#xC77C;&#xBCF8;&#xC5B4;
