.nav.container
  nav.navbar.navbar-expand-sm.bg-primary.navbar-dark
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='#') Active
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item
        a.nav-link.disabled(href='#') Disabled
