doctype html
head
  title advert
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
.container
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel' data-slide-to='0')
      li(data-target='#myCarousel' data-slide-to='1')
      li(data-target='#myCarousel' data-slide-to='2')
    // Wrapper for slides
    .carousel-inner
      .item.active.side
        img(src='/images/super.jpg' alt='슈퍼손' style='max-width:100%')
      .item
        img(src='/images/super.jpg' alt='슈퍼손' style='width:100%;')
      .item
        img(src='/images/super.jpg' alt='슈퍼손' style='width:100%;')
    // Left and right controls
    a.left.carousel-control(href='#myCarousel' data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel' data-slide='next')
      span.glyphicon.glyphicon-chevron-right
      span.sr-only Next
