doctype html
head
  meta(charset='utf-8')
  title CSS Property Basic
  style.
    .box{
    width: 350px; height: 200px;
    border-width: thick;
    border-style: double;
    border-color: black;
    }
    img.aaa{
    position: static;
    margin-left:5px;
    margin-top: 30px;
    }
    img.bbb{
    postion: fixed;
    margin-left:80px;
    margin-top: 70px;
    }
    .myButton{
    box-shadow: 3px 4px 0px 0px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-clolor:#ededed;
    border-radius:10px;
    bprder:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:7px;
    padding:7px 25px;
    text-decoration: none;
    text-shadow:0px 1px 0px #e1e2ed;
    position: fixed;
    margin-left:265px;
    }
    .myButton:hover{
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
    }
    myButton:active{
    position:realative;
    top:1px;
    }
    h1{
    position: fixed;
    top: 10px;
    margin-top: 40px;
    margin-left:130px;
    padding:10px;
    }
    h4{
    position: fixed;
    top: 10px;
    margin-top: 90px;
    margin-left:130px;
    padding:10px;
    }
    .btn-group button {
    background-color:skyblue;
    border: 1px solid gray;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    margin-top:26px;
    }
    .btn-group:after {
    content: "";
    clear: both;
    display: table;
    }
    .btn-group button:hover {
    background-color: tomato;
    }
    .a,.b,.c {width:100%}
    .a button {width:50%}
    .b button {width:33.33%}
    .c button {width:25%}
    .box_a{
    width: 131px;
    height:50px;
    border: 1px solid blue;
    }
.box
  h1 000&#xB2D8;
  h4 MY STUDIO
  a.myButton(href='#' onclick="location.href='http://www.naver.com'") &#xB85C;&#xADF8;&#xC544;&#xC6C3;
  img.aaa(src='C:\Users\LG-GRAM\Desktop\테스트\images\profile.jpg' alt='프로필 사진' width='150px' height='100px')
  a(href='http://www.naver.com')
    img.bbb(src='C:\Users\LG-GRAM\Desktop\테스트\images\studio.jpg' border='0' width='50px' height='50px')
  .btn-group.b
    button(type='button' onclick="location.href='http://www.saramin.co.kr'") &#xC9C0;&#xC6D0;&#xD604;&#xD669;
    button(type='button' onclick="location.href='http://www.albamon.com'") &#xC2A4;&#xD06C;&#xB7A9;
    button(type='button' onclick="location.href='http://www.alba.co.kr'") &#xB9C8;&#xC774;&#xD398;&#xC774;&#xC9C0;
