.container(style="background-color:#e6f0ec;")
  .row(style="margin-top:1rem")
    .col-lg-2
      p 회사소개
    .col-lg-2
      p 보도기사
    .col-lg-2
      p 찾아오시는길
    .col-lg-2
      p 회원약관
    .col-lg-2
      p(style="font-color:black;") 개인정보처리방침
    .col-lg-2
      p 이메일무단수집거부
  .row
    .col-lg-offset-2
    .col-lg-8(style="text-align:center; margin-top:1rem;")
      p 잡튜브 고객센터 031-1234-4567
      p 이메일:help@jobtube.co.kr
      p (주)잡튜브 경기도 용인시 처인구 명지대학교 5공학관
      p 사업자등록: 113-86-00917
