doctype html
head
  style
    include login.css
body    
  section.container
    article.half
      .tabs(data-toggle='buttons')
        label.individual.active 개인
        label.enterprise 기업
      ul#btns
        li
          a(href='register.pug') 회원가입
        li
          a(href='/findId') 아이디/
          a(href='/findPw') 비밀번호 찾기
      .content
        .individual-cont.cont
          form(action='#' method='post' enctype='multipart/form-data')
            ul#input_button
              li#id_pass
                ul
                  li
                    input.inp(type='text' name='id' required='required' placeholder='아이디')
                  // id
                  li#pass
                    input.inp(type='password' name='password' required='required' placeholder='비밀번호')
                    input#remember.checkbox(type='checkbox' checked='')
              li#login_btn
                input.log(type='submit' value='로그인')
            .row#cont_save
              .col-lg-4
                input#remember.checkbox(type='checkbox' checked=false)
                label(for='remember') 로그인 유지
              .col-lg-4(style='margin-left:-20px;')
                input#idsave.checkbox(type='checkbox' checked=false)
                label(for='idsave') 아이디 저장
              .col-lg-3
                .secur(style='fone-size:10px')
                  a.sec(href='#') 보안
                  a.on(href='#') ON
              .col-lg-1
                p nav
        .enterprise-cont.cont
          form(action='#' method='post' enctype='multipart/form-data')
            ul#input_button
              li#id_pass
                ul
                  li
                    input.inp(type='text' name='id' required='required' placeholder='아이디')
                  // id
                  li#pass
                    input.inp(type='password' name='password' required='required' placeholder='비밀번호')
                    input#remember.checkbox(type='checkbox' checked='')
                  // pass
              li#login_btn
                input.log(type='submit' value='로그인')
            .row#cont_save
              .col-lg-4
                input#remember2.checkbox(type='checkbox' checked=false)
                label(for='remember2') 로그인 유지
              .col-lg-4(style='margin-left:-20px;')
                input#idsave2.checkbox(type='checkbox' checked=false)
                label(for='idsave2') 아이디 저장
              .col-lg-3
                .secur(style='fone-size:10px')
                  a.sec(href='#') 보안
                  a.on(href='#') ON
              .col-lg-1
                p nav
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(type='text/javascript').
    $(document).ready(function(){
    $('.enterprise-cont').hide();
    $('.tabs .individual').css("background","skyblue");
    $('.tabs .individual').css("color","white");
    $('.tabs .enterprise').css("background","lightgray");
    $('.tabs .enterprise').css("color","skyblue");
    });
    
    $('.content .secur').click(function(){
    if($('.content .secur a.on').html()=='ON'){
    $('.content .secur a.on').html('OFF');
    }
    else{
    $('.content .secur a.on').html('ON');
    }
    event.preventDefault();
    });

    $('.tabs label').click(function(){
    if ($(this).hasClass('individual')) {
    $('.tabs .tab').removeClass('active');
    $('.tabs label').removeAttr('style');
    $(this).css("background","skyblue");
    $(this).css("color","white");
    $('.tabs .enterprise').css("background","lightgray");
    $('.tabs .enterprise').css("color","skyblue");
    $(this).addClass('active');
    $('.cont').hide();
    $('.individual-cont').show();
    }
    if ($(this).hasClass('enterprise')) {
    $('.tabs .tab').removeClass('active');
    $('.tabs label').removeAttr('style');
    $(this).css("background","skyblue");
    $(this).css("color","white");
    $('.tabs .individual').css("background","lightgray");
    $('.tabs .individual').css("color","skyblue");
    $(this).addClass('active');
    $('.cont').hide();
    $('.enterprise-cont').show();
    }
    });
