doctype html
head
    link(rel='stylesheet' text='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    
.container(style="margin-top:3rem")
    .row(style=" margin-bottom:1rem")
        h1
            b 지원 현황
        img(src="images/clipboard.png", alt="지원 현황", width="50rem" style="margin-left:1rem")

    .row(style="margin-top:3rem; border:1px solid lightgrey; padding:2rem")
        .col
            .row
                .col-2
                    h5(style = 'margin-right:1rem') 조회 기간 
                .col-10
                    ul.list-group.list-group-horizontal(style = 'height:3rem')
                        li.list-group-item 1주일
                        li.list-group-item 1개월
                        li.list-group-item 2개월
                        li.list-group-item 3개월

            .row(style="margin-top:1rem")
                .col-2
                    h5 기업명/제목
                .col-8
                    .form-group
                        input#usr.form-control(type='text')
                .col-2
                    button.btn.btn-secondary(type='button' style="margin-left:1rem; height:2.5rem") 검색

    br
    
    form(style="float:right; display:inline-block;")
                select.custom-select
                    option 20개씩 보기
                    option 10개씩 보기
    br
    br

    .row(style="margin-top:1rem")
        table.table.table-bordered(style="text-align:center")
            tr.table-secondary(style="height:4.5rem; margin-top:auto; margin-bottom:auto")
                th 지원일
                th 지원 내역
                th 열람 여부
                th 게재 상태
                th 메모
                th 지원 여부
            tr
                td 2019.02.01
                td 주성민 딱가리
                td 미열람
                td 모집중
                td 면접일 : 2월 28일
                td 
                    button.btn.btn-primary(type='button') 지원 취소

            tr
                td 2019.02.14
                td 주성민 하인
                td 미열람
                td 모집완료
                td 준비물 : 노트북
                td 
                    button.btn.btn-primary(type='button') 지원 완료

            tr
                td 2019.03.27
                td 누드 모델
                td 열람
                td 모집중
                td 면접일 : 4월 2일
                td 
                    button.btn.btn-primary(type='button') 지원 완료
    br
    br
            
                
    .row
        ul.pagination(style="margin: 0 auto")
            li.page-item
                a.page-link(href='#') Previous
            li.page-item
                a.page-link(href='#') 1
            li.page-item.active
                a.page-link(href='#') 2
            li.page-item
                a.page-link(href='#') 3
            li.page-item
                a.page-link(href='#') Next
