head
    link(rel='stylesheet' text='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
.container(style="width:50%; margin-top:3rem; margin-left:auto; margin-right:auto; padding:5rem; border:1px solid lightgrey; border-radius:1rem")
    .row
        h4(style="margin-bottom:3rem") 비밀번호 찾기
    .row
        .col
            h6(style="margin-bottom:2rem") 임시 비밀번호 전송
            .row
              input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='이메일을 입력하세요' style="width:85%;")
              .col
                button.btn.btn-primary(type='button', style="background-color:#87ceeb; border-color:#87ceeb") 전송
