doctype html
html
  head
    link(rel='stylesheet' text='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    title Job Tube
  body
  include shared/_navbar.pug
  .container(style="margin-top:5rem")
    .row
      .col-lg-8  
        .row
          include index_view/index_first.pug
        .row(style='margin-top:10px;')
          include index_view/index_second.pug
        .row(style='margin-top:10px;')
          include index_view/index_third.pug
      //로그인 입력폼
      .col-lg-4
        .row(style='margin-top:20px; margin-left:10px;')
          include shared/login.pug
        .row
          include shared/advert.pug
  include shared/footer.pug
