doctype html
html
  head
    link(rel='stylesheet' text='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    title Job Tube
  body
  include shared/_navbar.pug
  .container(style="margin-top:5rem")
    .row
      .col-lg-8
        .row
          h4(style="margin-bottom:1.5rem") 지금, 꼭 봐야할 공고에요!
          .row
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
        .row(style='margin-top:10px;')
          h4 지금, 꼭 봐야할 공고에요!
          .row
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
        .row(style='margin-top:10px;')
          h4 지금, 꼭 봐야할 공고에요!
          .row
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
            .col-lg-3
              .card(style='width: 100%; margin-bottom:1rem')
                img.card-img-top(src='' alt='...')
                .card-body
                  p.card-text
                    | 명지대학교 컴퓨터공학과
      //로그인 입력폼
      .col-lg-4
        .row(style='margin-top:20px; margin-left:10px;')
          include shared/login.pug
        .row
          include shared/advert.pug
  include shared/footer.pug


