doctype html
head
    link(rel='stylesheet' text='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    
.container(style="margin-top:3rem")
    .row
        h1
            b 스크랩 ★
    .row
        .col-1
        .col-2
            button.btn.btn-secondary 스크랩 취소
        .col-9(style="text-align:right")
            a(href="#", style="margin-left:auto") 스크랩일 순
            a(style="margin-left:0.5rem; margin-right:0.5rem;") |
            a(href="#") 급여 순
            a(style="margin-left:0.5rem; margin-right:0.5rem;") | 
            a(href="#") 마감일 순
            form(style="margin-left:1rem; display:inline-block")
                select.custom-select
                    option 20개씩 보기
                    option 10개씩 보기
    .row(style="margin-top:1rem")
        table.table.table-bordered(style="text-align:center")
            tr.table-secondary
                th
                th 스크랩일
                th 기업명/모집제목
                th 지역
                th 급여
                th 게재상태
                th 지원 여부
            tr
                td 
                    .form-check
                        input#check1.form-check-input(type="checkbox")
                td 2019.02.01
                td LG전자 / 신규직 일반 채용
                td 서울 강남구
                td 연봉 : 6000만원
                td 모집중
                td 지원 완료
            tr
                td
                    .form-check
                        input#check1.form-check-input(type="checkbox")
                td 2019.02.01
                td LG전자 / 신규직 일반 채용
                td 서울 강남구
                td 연봉 : 6000만원
                td 모집중
                td 지원 완료
            tr
                td
                    .form-check
                        input#check1.form-check-input(type="checkbox")
                td 2020.02.20
                td 민지 딱가리 / 경력직 채용
                td 서울 강남구
                td 연봉 : 5000만원
                td 모집중
                td 지원 완료
            
                
    .row
        ul.pagination(style="margin: 0 auto")
            li.page-item
                a.page-link(href='#') Previous
            li.page-item
                a.page-link(href='#') 1
            li.page-item.active
                a.page-link(href='#') 2
            li.page-item
                a.page-link(href='#') 3
            li.page-item
                a.page-link(href='#') Next
