doctype html
html
  head
  body
    h4(style="margin-bottom:1.5rem") 지금, 꼭 봐야할 공고에요!
    .row
      .col-lg-3
        .card(style='width: 100%; margin-bottom:1rem')
          img.card-img-top(src='' alt='...')
          .card-body
            p.card-text
              | 명지대학교 컴퓨터공학과
      .col-lg-3
        .card(style='width: 100%; margin-bottom:1rem')
          img.card-img-top(src='' alt='...')
          .card-body
            p.card-text
              | 명지대학교 컴퓨터공학과
      .col-lg-3
        .card(style='width: 100%; margin-bottom:1rem')
          img.card-img-top(src='' alt='...')
          .card-body
            p.card-text
              | 명지대학교 컴퓨터공학과
      .col-lg-3
        .card(style='width: 100%; margin-bottom:1rem')
          img.card-img-top(src='' alt='...')
          .card-body
            p.card-text
              | 명지대학교 컴퓨터공학과
      .col-lg-3
        .card(style='width: 100%; margin-bottom:1rem')
          img.card-img-top(src='' alt='...')
          .card-body
            p.card-text
              | 명지대학교 컴퓨터공학과
      .col-lg-3
        .card(style='width: 100%; margin-bottom:1rem')
          img.card-img-top(src='' alt='...')
          .card-body
            p.card-text
              | 명지대학교 컴퓨터공학과
      .col-lg-3
        .card(style='width: 100%; margin-bottom:1rem')
          img.card-img-top(src='' alt='...')
          .card-body
            p.card-text
              | 명지대학교 컴퓨터공학과
      .col-lg-3
        .card(style='width: 100%; margin-bottom:1rem')
          img.card-img-top(src='' alt='...')
          .card-body
            p.card-text
              | 명지대학교 컴퓨터공학과
